html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wanna-be-console {
    display: table;
    background-color: black;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.wanna-be-console ul {
    max-height: 200px;
    overflow: auto;
}

.wanna-be-console .events-list li,
.wanna-be-console .headers {
    display: table-row;
}

.wanna-be-console span {
    display: table-cell;
    padding: 10px;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

#map {
    width: 100%;
    height: calc(100% - 100px);
}
