html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

.content {
    color: #d0d0d0;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.map-container {
    height: 50vw;
    width: 100%;
    transform: translate(0, -45%);
    position: relative;
    top: 40%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table thead {
    background-color: #1F2020;
}

table tbody {
    background-color: rgba(0, 0, 0, 0.3);
}

table tr {
    border-bottom: gray;
}

table td, table th {
    padding: 5px 10px;
}

.attacks-info {
    position: fixed;
    bottom: 0;
    max-height: 20%;
    width: 100%;
}

.header {
    height: 65px;
}

.logo {
    height: 120px;
    position: absolute;
    padding-left: 30px;
    z-index: 1;
}
